.login-form.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form.modal .logo-container {
  margin-bottom: 30px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input-field label {
  font-size: 18px;
  font-weight: 600;
}

.input-field input {
  width: 250px;
  border-radius: 25px;
  border: 0;
  margin: 10px 0;
  padding: 10px;
  padding-left: 20px;
  font-size: 16px;
}

.btn-login {
  margin-top: 50px;
  cursor: pointer;
  background-color: rgb(255, 206, 7);
  width: 150px;
  height: 35px;
  border-radius: 10px;
  padding: 8px;
  font-weight: 600;
  border: 1px solid rgb(255, 206, 7);
  outline: none;
  transition: all 100ms ease-in-out;
}
