.products-banner-container {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-banner-container > h1 {
  width: 50%;
  color: rgb(255, 206, 7);
}

.number-of-sales {
  margin: 0 40px;
  padding: 32px;
  width: 85%;
  display: flex;
  justify-content: space-around;
}
