.card {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 12px;
  text-align: left;
  padding: 0;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 800;
  color: rgb(255, 206, 7);
}

.card-text {
  font-size: 14px;
}
