.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 20px; /* gap between cards */
}

.complete-package-section > p {
  color: rgb(196, 196, 196);
  margin: 0;
}

.complete-package-section h1 {
  margin-top: 4px;
  margin-bottom: 32px;
  font-weight: 800;
}

.complete-package-section > .cards-container > .card {
  padding: 24px;
}

.complete-package-section > .cards-container > .card > .card-icon-container {
  min-height: 75px;
}

.complete-package-section
  > .cards-container
  > .card
  > .card-body
  > .card-title {
  margin-bottom: 0;
}

.complete-package-section > .cards-container > .card > .card-body > .card-text {
  font-size: 14px;
}

@media (max-width: 425px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
